<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/coming.jpeg" alt="ABNB" class="img-thumbnail rounded-circle" width="200px">
      <h1 class="display-4">
        Project Liftoff
      </h1>
      <p class="lead">
        Programmer | Handal
      </p>
    </div>
  </div>
</div>
